<div
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="space-between stretch"
  fxLayoutGap="20px"
  fxLayoutGap.xs="0"
  class="mt-3"
>
  <mat-card fxFlex fxLayout="column">
    <mat-card-title class="text-center my-lg-2">
      Flight Records
    </mat-card-title>
    <mat-divider [inset]="true" class="mt-2"></mat-divider>
    <mat-card-content class="text-center mt-3">
      <div class="card bg-dark shadow-lg">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <mat-button-toggle-group
                name="flightRecords"
                color="primary"
                aria-label="Available Flight Records"
              >
                <mat-button-toggle
                  *ngFor="let flight of flightList"
                  [value]="flight"
                  (click)="onFlightSelected(flight.id)"
                >
                  <mat-icon class="text-white"> flight </mat-icon>
                  <span class="text-white">{{ flight.name }}</span>
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
        </div>
      </div>
      <app-checkin-form
        *ngIf="selectedFlight"
        [isAnicillaryForm]="true"
        [selectedFlight]="selectedFlight"
        [passengerList]="passengerList | async"
        [anicillaryList]="anicillaryList | async"
        (submitUpdatedCheckedIn)="handelFormSubmit($event)"
      ></app-checkin-form>
    </mat-card-content>
  </mat-card>
</div>
