.font-weight-bold {
  font-weight: bold;
}

:host ::ng-deep .mat-card-header-text {
  width: 100%;
  text-align: right;
}

.icon-lg {
  font-size: 40px;
}

.flight-list {

  .mat-card {
    color: #fff;

    .mat-card-header {
      width: 100%;
    }



    .mat-card-subtitle {
      color: #fff;
      white-space: nowrap;
    }

    &.danger {
      background: linear-gradient(60deg, #ec407a, #d81b60);
    }

    &.warn {
      background: linear-gradient(60deg, #ffa726, #fb8c00);
    }

    &.success {
      background: linear-gradient(60deg, #66bb6a, #43a047);
    }

    &.info {
      background: linear-gradient(60deg, #2626da, #6100c1);
    }
  }
}

// mobile screen responsive


@media screen and (max-width: 600px) {
  .flight-list {
    .no-margin {
      margin-right: 0px !important;
    }
  }
}
